* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d1521;
    font-family: tahoma;
    color: #989898;
}

#todo-table {
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
}

.todo-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_cotent {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#todo-table a {
    color: #989898;
}

#todo-table form {
    margin-top: 20px;
}

#todo-table form:after {
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

#todo-table .add_input {
    width: 50%;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
    background: #181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

#todo-table .add_item {
    padding: 0 20px;
    float: left;
    height: 60px;
    line-height: 60px;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

#todo-table ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#todo-table li {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

#todo-table li:hover span {
    text-decoration: line-through;
    background: rgba(0, 0, 0, 0.2);
}

#todo-table li.done span {
    text-decoration: line-through;
    background: rgba(0, 0, 0, 0.2);
}

#todo-table li .btn {
    padding: 5px 10px;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.login.active {
    display: block;
}

.register.active {
    display: block;
}